input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.spinner {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $spinner-color;
}

.paginationItemStyle {
	.page-link {
		color: rgb(152, 178, 209);
	}
}

.active>.page-link, .page-link.active {
  z-index: 3;
  color: #fff !important;
  background-color: $btn-pagination-color !important;
  border-color: $btn-pagination-color !important;
}

.hide-pagination {
  display: none;
}

.show-pagination {
  display: block;
}